
name: Build and Push Docker Image


on:
  push:
    branches: 
      - main
 

 
jobs:
  docker:
    runs-on: ubuntu-latest


    steps:
    
      - name: Checkout source
        uses: actions/checkout@v4
      
      - name: Login to Docker hub
        uses: docker/login-action@v3
        with:
          username: incharadocker
          password: ${{ secrets.INCHARADOCKER }}
 
      - name: Build and Push Docker images
        uses: docker/build-push-action@v5
        with: 
          context: .
          push: true
          tags: incharadocker/github-demo
